body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    
}

h1{
    font-weight: bolder;
    margin: 0;
    margin-bottom: .8rem;
}
 .input{
     background-color:#68fbfbe5;
     border: 5px solid  rgba(240, 204, 42, 0.931);
     border-radius : .8em;
     padding: .50rem;
     width: 15em;
 }

 select{
     margin-left: .8rem;
     padding: .50rem;
     background-color:#68fbfbe5;
     border: 5px solid  rgba(240, 204, 42, 0.931);
     border-radius : .8em;
 }

 .equals{
     font-weight: bolder ;
     font-size: 5rem;
 }